<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css" type="text/css">
  <script src="script.js" defer></script>
  <script src="https://unpkg.com/htmx.org@1.9.7"></script>
</head>

<body>
  <div class="container">
    <div id="table" hx-get="/users" hx-trigger="load">
      <p>Loading.</p>
    </div>

    <form hx-post="/adduser" hx-trigger="submit" hx-target="#table">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="registered" placeholder="registered">
      <input type="text" name="balance" placeholder="balance">
      <input type="submit" value="Add User">
  </div>
</body>

</html>
